@charset 'utf-8';

textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.main_blue_btn_customer {
    display: inline-block;
    padding: 6px;
    background-color: rgb(51, 80, 200);
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.main_yellow_label_customer {
    display: inline-block;
    padding: 6px;
    background-color: rgb(255, 238, 150);
    border-radius: 7px;
    color: rgb(94, 94, 94);
    font-size: 13px;
    font-weight: bold;
}