textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/*그레이 버튼*/
.main_gray_btn {
    display: inline-block;
    padding: 8px 9px;
    background-color: rgb(210, 210, 210);
    border-radius: 7px;
    border: transparent;
    color: rgb(94, 94, 94);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}